In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("us_tornado_dataset_1950_2021.csv")

In [3]:
df.head()

,yr,mo,dy,date,st,mag,inj,fat,slat,slon,elat,elon,len,wid
0,1950,1,3,1950-01-03,IL,3,3,0,39.10,-89.30,39.12,-89.23,3.6,130
1,1950,1,3,1950-01-03,MO,3,3,0,38.77,-90.22,38.83,-90.03,9.5,150
2,1950,1,3,1950-01-03,OH,1,1,0,40.88,-84.58,0.00,0.00,0.1,10
3,1950,1,13,1950-01-13,AR,3,1,1,34.40,-94.37,0.00,0.00,0.6,17
4,1950,1,25,1950-01-25,IL,2,0,0,41.17,-87.33,0.00,0.00,0.1,100

In [5]:
df.mag

0        3
1        3
2        1
3        3
4        2
        ..
67553    1
67554    1
67555    1
67556    1
67557    1
Name: mag, Length: 67558, dtype: int64

In [6]:
type(df.mag)

pandas.core.series.Series

In [7]:
another_df = df.iloc[:,:-1]

In [8]:
df.values

array([[1950, 1, 3, ..., -89.23, 3.6, 130],
       [1950, 1, 3, ..., -90.03, 9.5, 150],
       [1950, 1, 3, ..., 0.0, 0.1, 10],
       ...,
       [2021, 12, 31, ..., -85.7805, 0.95, 50],
       [2021, 12, 31, ..., -84.9633, 2.75, 150],
       [2021, 12, 31, ..., -83.9498, 2.5, 75]], dtype=object)

In [9]:
X = df.drop('mag', axis=1)
y = df.mag

In [10]:
y == 1

0        False
1        False
2         True
3        False
4        False
         ...
67553     True
67554     True
67555     True
67556     True
67557     True
Name: mag, Length: 67558, dtype: bool

In [11]:
y[y == 1]

2        1
13       1
17       1
19       1
20       1
        ..
67553    1
67554    1
67555    1
67556    1
67557    1
Name: mag, Length: 22885, dtype: int64

In [12]:
y[y == 1]

2        1
13       1
17       1
19       1
20       1
        ..
67553    1
67554    1
67555    1
67556    1
67557    1
Name: mag, Length: 22885, dtype: int64

In [13]:
y[y == 1].count()

22885

In [14]:
(y == 1).sum()

22885